@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
:root {
    --cor1: rgb(18, 17, 36);
    --cor2: rgb(17, 13, 54);
    --cor3: rgb(32, 28, 80);

    /*
    --cor01: #F22259;
    --cor02: #5D2E8C;
    --cor03: #180D40;
    --cor04: #F29F05;
    --cor05: #F27405;
    */

    --borda: 1px solid rgba(255, 255, 255, 0.5);
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor2);
    color: white;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0;
    border-bottom: var(--borda);
    background-color: var(--cor1);
}
nav {
    display: flex;
    gap: 24px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    align-self: center;
    flex-shrink: 1;
    width: 300px;
    height: 300px;
    border: var(--borda);
    border-radius: 8%;
    background-color: var(--cor1);
    box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.863);
}
form fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    width: 75%;
    height: 48%;
    border: none;
}
form div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 4px;
}
div label {
    margin-left: 0.7em;
}
div input {
    height: 2em;
    border-radius: 20px;
    width: 92%;
    padding-left: 1em;
    align-self: center;
    box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.712);
    transition-duration: 0.4s;
}
div input:hover, div input:focus {
    width: 100%;
    box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.363);
    align-self: center;
    transition-duration: 0.4s;
}
button {
    width: 54px;
    height: 54px;
    border-radius: 27px;
    box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.712);
    transition-duration: 0.8s;
    background-color: var(--cor3);
    color: white;
}
button > strong {
    display: none;
}
button:hover {
    width: 50%;
    height: 16%;
    margin-top: 2%;
    box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.363);
    transition-duration: 0.8s;
    font-size: large;
}
button:hover > strong {
    display: inline;
}
button:hover img {
    display: none;
}
footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1em 0;
    border-top: var(--borda);
    background-color: var(--cor1);
}
